{% load static %}

<!doctype html>
<html lang="zxx">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap Min CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}">
        
        <!-- Animate Min CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
        <!-- Owl Carousel Min CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
        <!-- FontAwesome Min CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
        <!-- Flaticon CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
        <!-- Odometer Min CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/odometer.min.css' %}">
        <!-- Magnific Popup Min CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.min.css' %}">
        <!-- MeanMenu CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}">
        <!-- Nice Select Min CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/nice-select.min.css' %}">
        <!-- Slick Min CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/slick.min.css' %}">
        <!-- Slick Theme Min CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/slick-theme.min.css' %}">
        <!-- Style CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">


        <title>JSCOM Real Estate L.L.C Maintenance</title>

                           
          <link rel="icon" type="{% static 'assets/img/favicon.png' %}" href="#">
    </head>

    

    <body>
           <!-- Start Preloader Area -->
         <div class="preloader">
            <div class="loader">
                <div class="icon">
                    <i class="flaticon-help"></i>
                </div>
                <div class="icon">
                    <i class="fas fa-cog"></i>
                </div>
                <div class="icon">
                    <i class="flaticon-settings"></i>
                </div>
            </div>
        </div> 
        
        <!-- End Preloader Area -->

        <!-- Start Header Area -->
        <header class="header-area">
             {% comment %} <div class="top-header">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-12">
                            <div class="top-header-content">
                                <ul class="nav-list">
                                    <li><a href="#">About Us</a></li>
                                      <li><a href="#">Career</a></li> 
                                     <li><a href="#">FAQ's</a></li> 
                                </ul>
    
                                <ul class="social">
                                    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div> 

                         <div class="col-lg-7 col-md-12">
                            <ul class="header-info">
                                <li><i class="fas fa-map-marker-alt">

                                </i>	
                                    JSCOM Tower, Doha Road,
                                    Al Qusais, Dubai,
                                    Landmark: Opp. Emirates Driving Institute,
                                    P.O.Box - 12923
                                </li>
                                <li><i class="far fa-clock"></i>Open 8am-5pm: Saturday - Thursday</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>   {% endcomment %}

            {% comment %} <div class="middle-header">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3  col-md-12">
                            <div class="logo">
                                <a href="{% url 'home' %}"><img src="{% static 'assets/img/jsco.png' %}"   alt="image" >
                            </div>
                        </div>

                        <div class="col-lg-9 col-md-12">
                            <ul>
                                <li>
                                    <i class="flaticon-email"></i>
                                    drop us an email
                                    <span>	
                                        jscomreg@gmail.com,
                                    </span>
                                </li>
                                <li>
                                    <i class="flaticon-phone"></i>
                                    24/7 emergency service
                                    <span>044-787-8569</span>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-primary">Free Booking</a>
                                </li> 
                            </ul>
                        </div>  

                    </div>
                </div>
            </div> {% endcomment %}

            <div class="top-header">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-12">
                            <div class="top-header-content">
                                <ul class="nav-list">
                                    <li><a href="about-us-1.html">About Us</a></li>
                                    <li><a href="about-us-2.html">Career</a></li>
                                    <li><a href="faq.html">FAQ's</a></li>
                                </ul>
    
                                <ul class="social">
                                    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-7 col-md-12">
                            <ul class="header-info">
                                <li><i class="fas fa-map-marker-alt"></i>JSCOM Tower, Doha Road,
                                    Al Qusais, Dubai,
                                    Landmark: Opp. </br> Emirates Driving Institute,
                                    P.O.Box - 12923
                                </li>
                                <li><i class="far fa-clock"></i>Open 8am-5pm: Saturday - Thursday</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="middle-header">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-12">
                            <div class="logo">
                                <a href="#"><img src="{% static 'assets/img/jscom.png' %}" width="300px" alt="image"></a>
                            </div>
                        </div>

                        <div class="col-lg-9 col-md-12">
                            <ul>
                                <li>
                                    <i class="flaticon-email"></i>
                                    drop us an email
                                    <span>jscomreg@gmail.com</span>
                                </li>
                                <li>
                                    <i class="flaticon-phone"></i>
                                    24/7 emergency service
                                    <span>044-787-8569</span>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-primary">Booking-Free</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="navbar-area">
                <div class="fennec-mobile-nav">
                    <div class="logos">
                        <a href="{% url 'home' %}"><img src="{% static 'assets/img/jscom.png' %}" width=" 300px"alt="logo" width="70px "></a>
                        
                    </div>
                </div>
    
                <div class="fennec-nav">
                    <div class="container">
                        <nav class="navbar navbar-expand-md navbar-light">    
                            <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                                <ul class="navbar-nav">
                                    <li class="nav-item"><a href="{% url 'home'%}" class="nav-link">Home <i class="flaticon-down-arrow"></i></a>
                                        
                                    </li>
                                    
                                    <li class="nav-item"><a href="{% url 'about'%}" class="nav-link active">About Us <i class="flaticon-down-arrow"></i></a>
                                        
                                    </li>
    
                                    
                                    <li class="nav-item"><a href="#" class="nav-link">Maintenance Services <i class="flaticon-down-arrow"></i></a>
                                         <ul class="dropdown-menu">
                                            <li class="nav-item"><a href="{% url 'plumbing' %}" class="nav-link">Plumbing Services</a></li>

                                            <li class="nav-item"><a href="{% url 'tilesfix' %}" class="nav-link">Tiles-fix Services</a></li>
    
                                            <li class="nav-item"><a href="{% url 'painting' %}" class="nav-link">Painting Services</a></li>

                                            <li class="nav-item"><a href="{% url 'furniture' %}" class="nav-link">Furniture Services</a></li>

                                            <li class="nav-item"><a href="{% url 'accodition' %}" class="nav-link">Air-Conditioner Services</a></li>

                                            <li class="nav-item"><a href="{% url 'electrical' %}" class="nav-link">Electrical Services</a></li>
                                        </ul> 
                                    </li>
    
                                    <li class="nav-item"><a href="{% url 'services' %}" class="nav-link">Our Services<i class="flaticon-down-arrow"></i></a>
                                         <ul class="dropdown-menu">
                                             <li class="nav-item"><a href="{% url 'ourservices1' %}" class="nav-link">Our Services-1</a></li>

                                             {% comment %} <li class="nav-item"><a href="{% url 'ourservices1' %}" class="nav-link">Our Services-2</a></li> {% endcomment %}
    
                                            {% comment %} <li class="nav-item"><a href="single-projects.html" class="nav-link">Our Services-3</a></li> {% endcomment %}
                                         </ul> 
                                    </li> 
                                     {% comment %} <li class="nav-item"><a href="#" class="nav-link">Shop <i class="flaticon-down-arrow"></i></a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item"><a href="shop.html" class="nav-link">Shop</a></li>
    
                                            <li class="nav-item"><a href="single-products.html" class="nav-link">Single Products</a></li>

                                            <li class="nav-item"><a href="cart.html" class="nav-link">Cart</a></li>
                                            
                                            <li class="nav-item"><a href="checkout.html" class="nav-link">Checkout</a></li>
                                        </ul>
                                    </li>  {% endcomment %}
    
                                    {% comment %} <li class="nav-item"><a href="#" class="nav-link">Blog <i class="flaticon-down-arrow"></i></a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item"><a href="blog-1.html" class="nav-link">Blog Grid</a></li>
    
                                            <li class="nav-item"><a href="blog-2.html" class="nav-link">Blog With Sidebar</a></li>
    
                                            <li class="nav-item"><a href="single-blog.html" class="nav-link">Blog Details</a></li>
                                        </ul>
                                    </li>  {% endcomment %}
    
                                     <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
                                </ul> 

                                 {% comment %} <div class="others-option">
                                    <div class="option-item"><i class="search-btn flaticon-search"></i>
                                        <i class="close-btn fas fa-times"></i>
                                        
                                        <div class="search-overlay search-popup">
                                            <div class='search-box'>
                                                <form class="search-form">
                                                     <input class="search-input" name="search" placeholder="Search" type="text">
    
                                                    <button class="search-button" type="submit"><i class="fas fa-search"></i></button> 
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="option-item">
                                         <a href="#" data-bs-toggle="modal" data-bs-target="#productsCartModal">
                                            <i class="flaticon-shopping-cart"></i>
                                             <span class="cart-count">3</span>
                                        </a> 
                                    </div>
                                </div>  {% endcomment %}
                             </div>
                        </nav>
                    </div>
                </div>
            </div>  
            
        </header>
        <!-- End Header Area -->

          

       

        {% comment %} {% include 'includes/home.html' %}
        {% include 'includes/about.html' %} {% endcomment %}


        
        {% block content  %}
        
        {% endblock  %}



<!-- Start Footer Area -->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single-footer-widget">
                    <div class="logo">
                        <a href="#"><img src="{% static 'assets/img/jscom.png' %}" width="300px" alt="logo"></a>
                        
                    </div>
                    <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan.</p>
                    <ul class="social">
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Services</h3>
                    <ul class="services-list">
                        <li><a href="#">Home Maintenance</a></li>
                        <li><a href="#">Plumbing</a></li>
                        <li><a href="#">Cooling</a></li>
                        <li><a href="#">Electrical</a></li>
                        <li><a href="#">Painting</a></li>
                        <li><a href="#">Tiles Fixing</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Contacts</h3>

                    <ul class="footer-contact-list">
                        <li><span>Address:</span>
                             JSCOM Tower, Doha Road,
                            Al Qusais, Dubai,
                            Landmark: Opp. Emirates Driving Institute,
                            P.O.Box - 12923</li>
                        <li><span>Email:</span> <a href="#">jscomreg@gmail.com/a></li>
                        <li><span>Phone:</span> <a href="#">+44 587 154756</a></li>
                        <li><span>Fax:</span> <a href="#">+44 785 4578964</a></li>
                    </ul>
                </div>
            </div>


            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Working Hours</h3>

                    <ul class="working-hours">
                        <li><span>Monday:</span> 8AM - 6AM</li>
                        <li><span>Tuesday:</span> 8AM - 6AM</li>
                        <li><span>Wednesday:</span> 8AM - 6AM</li>
                        <li><span>Saturday :</span> 8AM - 6AM</li>
                        <li><span>Thursday - Sunday:</span> 8AM - 6AM</li>
                        <li><span>Friday:</span> Closed</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <p>Copyright 2021 <span>JSCOM Real Esate L.L.C</span>. All Rights Reserved.</p>
                </div>

                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--whatsapp link-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>
     {% comment %} <div class="container class="whatsapp_float">
        <a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="float" target="_blank">
             <i class="fa fa-whatsapp"><img src="{% static 'assets/img/whatsapp.jpg' %}" alt="image"></i> 
        </a>      
    </div>  {% endcomment %}
     {% comment %} <a href="https://wa.me/2348100000000" class="whatsapp_float" target="_blank" rel="noopener noreferrer" > 
    <i class="fa fa-whatsapp whatsapp-icon"><img src="{% static 'assets/img/whatsapp.jpg' %}" alt="img"></i> 
    
    </a> {% endcomment %}
        
</footer>
<!-- End Footer Area -->

<div class="go-top"><i class="fas fa-arrow-up"></i><i class="fas fa-arrow-up"></i></div>


<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<!-- jQuery Min JS -->
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<!-- Bootstrap Min JS -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!-- Parallax Min JS -->
<script src="{% static 'assets/js/parallax.min.js' %}"></script>
<!-- MeanMenu JS -->
<script src="{% static 'assets/js/jquery.meanmenu.js' %}"></script>
<!-- Slick Min JS -->
<script src="{% static 'assets/js/slick.min.js' %}"></script>
<!-- Owl Carousel Min JS -->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<!-- MixItUp Min JS -->
<script src="{% static 'assets/js/mixitup.min.js' %}"></script>
<!-- Odometer Min Js -->
<script src="{% static 'assets/js/odometer.min.js' %}"></script>
<!-- Appear Min JS -->
<script src="{% static 'assets/js/jquery.appear.min.js' %}"></script>
<!-- Magnific Popup Min JS -->
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<!-- Nice Select Min CSS -->
<script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>      
<!-- AjaxChimp Min JS -->
<script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
<!-- Form Validator Min JS -->
<script src="{% static 'assets/js/form-validator.min.js' %}"></script>
<!-- Contact Form Min JS -->
<script src="{% static 'assets/js/contact-form-script.js' %}"></script>
<!-- Main JS -->
<script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>